form {
    display: grid;
    grid-template-columns: 90% auto;
    background-color: rgb(2, 45, 126);
    border-radius: 50px;
    height: 50px;
    margin: 40px;
    box-shadow: 0 0 0 1px white;
    color: white
}

form input, button{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
}

input{
    padding-left: 25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
}

.film{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 50px;
}

.film img{
    height: 300px;
    margin-top: 10px;
    margin: 25px;
}