body,
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  display: grid;
  grid-template-columns: 7% 93%;
  background: radial-gradient(circle, hsla(192, 100%, 50%, 1) 0%, hsla(232, 100%, 43%, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.sidebar {
  float: left;
  width: 7%;
  height: 100%;
  background-color: rgb(2, 45, 126);
  text-align: center;
  position: fixed;
  transition: 0.2s;
  margin: 0;
  display: grid;
}

.sidebar a {
  text-align: center;
}

.icona {
  color: white;
  font-size: 2.5vw;
}

div.scroll {
  overflow: auto;
  white-space: nowrap;
}

div.scroll img {
  margin: 1vw;
  height: 25vw;
  opacity: 100% transition 2s;
}

div.scroll img:hover {
  opacity: 50%;
}

div::-webkit-scrollbar {
  display: none;
}

.contenitore {
  margin-left: 4%;
  margin-right: 4%;
}