* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    height: 100px;
}


nav p:nth-child(1) {
    font-family: 'New Walt Disney Font', sans-serif;
    font-size: 50px;
    align-items: center;
    padding-left: 20px;
}

nav p:nth-child(2) {
    font-size: 50px;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px
}

.nav_items a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 10vw;
}

.sezione {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px;
    text-align: center;
}

.sezione div:nth-child(1) {
    margin: 0 50px 50px 50px;
    flex-basis: 100%;
}

.sezione div:nth-child(2) {
    flex-basis: 50%;
}

.sezione h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.sezione p{
    font-size: 2rem;
}

img {
    height: 200px;
}

i{
    font-size: 80px;
}

#sottotitolo {
    font-size: 5vw;
}

#buttons_container {
    display: flex;
    justify-content: space-around;
    margin: 100px 200px 150px 200px;
}

button {
    border: solid rgb(2, 45, 126);
    border-radius: 50px;
    background-color: rgb(2, 45, 126);
    color: white;
    height: 50px;
    width: 150px;
    margin: 10px;
}

footer {
    background-color: lightgrey;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgb(2, 45, 126);
}

@media screen and (max-width: 800px) {
    .sezione {
        flex-wrap: wrap;
        margin: 50px 0 50px 0;
    }

    #buttons_container {
        display: flex;
        justify-content: space-around;
        margin: 100px 50px 150px 50px;
    }
}

@media screen and (max-width: 500px) {
    nav p:nth-child(1) {
        font-size: 30px;
    }

    nav p:nth-child(2) {
        font-size: 40px;
    }
}