aside {
    float: left;
    width: 25%;
    height: 100%;
}

.Film {
    float: right;
    width: 70%;
}

.nickname {
    text-align: center;
    font-size: 210%;
    color: black;
}


.film_visto {
    margin: 10px;
}


.Image {
    display: grid;
    grid-template-columns: auto;
}

img {
    border-radius: 50%;
    width: 100%;
    height: 21vw;
}

.Film {
    margin-top: 60px;
}

.elementi {
    display: grid;
    grid-template-columns: auto auto;
}

button {
    width: 100%;
}