* {
  margin: 0;
  padding: 0;
}

#contenitore {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#div_logo {
  color: white;
  display: flex;
  font-size: 5rem;
  font-family: 'New Walt Disney Font', sans-serif;
}

#stellina {
  margin-left: 5px;
  font-family: sans-serif;
  position: relative;
  transform-origin: -250px 50%;
}

form {
  text-align: center;
  border: 2px solid rgb(2, 45, 126);
  border-radius: 10px;
  color: white;
  background-color: rgb(2, 45, 126);
  padding: 10px;
}

h1 {
  margin: 5px;
}

input {
  width: 100%;
  height: 20px;
  border: 1px solid #eaeaea;
  outline: none;
  border-radius: 8px;
  text-indent: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
  color: black;
}

a {
  color: white;
}

p {
  margin-top: 10px;
}

.registerbtn {
  width: 100px;
  height: 40px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-top: 1rem;
}