form div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 2rem;
}

label{
    margin-top: 2rem;
}

input{
    margin-top: 2rem;
    margin-right: 2rem;
}

textarea{
    width: 100%;
    resize: vertical;
}

select{
    margin-top: 2rem;
    margin-right: 2rem;
}

.generi{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: auto;
}
.generi select{
    z-index: 1;
}

.genere{
    margin: 0;
}
button{
    margin-right: 10.5%;
    margin-top: 5px;
}