form{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

label{
    margin-top: 2rem;
}

input{
    margin-top: 2rem;
    margin-right: 2rem;
}

textarea{
    margin-top: 2rem;
    margin-right: 2rem;
}

select{
    margin-top: 2rem;
    margin-right: 2rem;
}