form div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 2rem;
}

label{
    margin-top: 2rem;
}

input{
    margin-top: 2rem;
    margin-right: 2rem;
}

textarea{
    width: 100%;
    resize: vertical;
}

select{
    margin-top: 2rem;
    margin-right: 2rem;
}