h1 {
    font-size: 5vw;
    display: inline-block;
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.video-container iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
}

.preferiti {
    font-size: 4vw;
    margin-left: 1vw;
}

.informazioni {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2vw;
}

.Description {
    border: solid 2px white;
    border-radius: 20px;
    padding: 2rem;
    margin: 1rem;
    font-size: 1.9vw;
}


.Information {
    border: solid 2px white;
    border-radius: 20px;
    padding: 2rem;
    margin: 1rem;
}

li {
    font-size: 1.9vw;
}

img{
    width: 20vw;
}

.img_container{
    text-align: center;
}