* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(circle, rgba(26, 39, 85, 1) 0%, rgba(0, 13, 57, 1) 62%);
}

input {
  margin: 5px;
}

a {
  color: white;
}

p {
  margin-top: 1rem;
}

label {
  padding: auto;
}

.registerbtn {
  width: 100px;
  height: 40px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-top: 1rem;
}

form {
  width: 20rem;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 2rem;
  backdrop-filter: blur(3px);
  color: white;
}

#div_logo {
  color: white;
  display: flex;
  font-size: 5rem;
  font-family: 'New Walt Disney Font', sans-serif;
}

#stellina {
  margin-left: 5px;
  font-family: sans-serif;
  position: relative;
  transform-origin: -250px 50%;
}