body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 7% 93%;
}

.sidebar {
  width: 7%;
  height: 100%;
  background-color: rgb(2, 45, 126);
  text-align: center;
  position: fixed;
  transition: 0.2s;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}

.sidebar a {
  text-align: center;
  margin: 10px;
}


.sidebar div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.sidebar label {
  display: none;
}

.sidebar:hover {
  width: 200px;
}


.sidebar:hover label {
  display: block;
}

.sidebar:hover label {
  width: 20%;
}

.icona {
  color: white;
  font-size: 2.5vw;
}

div.scroll {
  overflow: auto;
  white-space: nowrap;
}

div.scroll img {
  margin: 1vw;
  height: 25vw;
  opacity: 100% transition 2s;
}

div.scroll img:hover {
  opacity: 50%;
}

div::-webkit-scrollbar {
  display: none;
}

.contenitore {
  margin-left: 4%;
  margin-right: 4%;
}

@media screen and (max-width: 400px) {
  .sidebar {
    justify-content: center;
  }
  
.sidebar:hover {
  width: 100%;
}
}