.contenitore {
    display: flex;
    flex-wrap: wrap;
}

div.scroll {
    overflow: auto;
    white-space: nowrap;
}

div.scroll img {
    margin: 1vw;
    height: 25vw;
    opacity: 100% transition 2s;
}

div.scroll img:hover {
    opacity: 50%;
}

div::-webkit-scrollbar {
    display: none;
}

aside {
    text-align: center;
    margin: 50px;
}

section {
    margin: 50px;
}

.Image img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

button {
    margin-top: 10px;
    width: 100%;
}

@media (max-width: 700px) {

    aside,
    .Film {
        width: 100%;
    }

    .elementi {
        grid-template-columns: auto;
        /* Stack grid items vertically on smaller screens */
    }
}

@media (max-width: 768px) {
    button {
        width: 80%;
        margin: 10px auto;
        /* Centers the button when its width is less than 100% */
    }
}