* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    height: 100px;
}


nav p:nth-child(1) {
    font-family: 'New Walt Disney Font', sans-serif;
    font-size: 50px;
    align-items: center;
    padding-left: 20px;
}

nav p:nth-child(2){
    font-size: 50px;
}

@media screen and (max-width: 400px){
    nav p:nth-child(1) {
        font-size: 30px;
    }
    nav p:nth-child(2){
        font-size: 40px;
    }
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_items a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 10vw;
}

.sezioni{
    display: flex;
    flex-direction: column;
}

.sezione {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.sezione h2 {
    font-size: 3vw;
    margin-bottom: 20px;
}

.destra {
    text-align: right;
}

img {
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

#sottotitolo {
    font-size: 5vw;
}

#buttons_container {
    display: flex;
    justify-content: space-around;
    margin: 100px;
}

.login {
    border: solid blue;
    border-radius: 50px;
    background-color: blue;
    text-decoration: none;
    padding: 50px;
    color: white;
}

footer {
    background-color: lightgrey;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgb(2, 45, 126);
}