* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    height: 100px;
    padding: 40px;
}

nav h2 {
    font-family: 'New Walt Disney Font', sans-serif;
    font-size: 50px;
    align-items: center;
}

#plus {
    font-size: 50px;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_items p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
}

h1 {
    text-align: center;
    font-size: 10vw;
}

.sezione {
    display: flex;
    justify-content: space-between;
    margin: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.destra {
    text-align: right;
}

img {
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

#sottotitolo{
    font-size: 5vw;
}

#buttons_container{ 
    display: flex;
    justify-content: space-around;
    margin: 100px;
}

.login {
    border: solid blue;
    border-radius: 50px;
    background-color: blue;
    text-decoration: none;
    padding: 50px;
    color: white;
}

footer {
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
    color: white;
}